{% extends "layout.html" %}
{% load static %}

{% block content %}
  <div class="col-sm-6 playlist-edit mb-5">
    <h1>{{playlist_name}}</h1>
    {% for playlist_song in playlist_songs %}
      <div class="song-wrapper float-start">
        {% if playlist_song.thumbnail %}
          <img src="{{ playlist_song.thumbnail }}" alt="Image"  width="150" height="150">
        {% else %}
          <img src="{% static 'img/default.jpeg' %}" alt="Default Image"  width="150" height="150">
        {% endif %}
        <span class="song-name" >
          {{playlist_song.name}}
        </span>
        <span class="song-action">
          <i class="bi bi-play-fill song-play-link" data-link="{{playlist_song.link}}"></i>
          <a href="{% url 'remove_from_playlist' playlist_song.id playlist_name %}" ><i class="bi bi-dash-circle-fill"></i></a>
          <i class="bi bi-info-circle"></i>
        </span>
      </div>
    {% endfor %}
  </div>
  <hr/>
  <div class="col-sm-12 playlist-library">
    <h1>
      Library
    </h1>
    {% for item in songs %}
      <div class="song-wrapper float-start">
        {% if item.thumbnail %}
          <img src="{{ item.thumbnail }}" alt="Image"  width="150" height="150">
        {% else %}
          <img src="{% static 'img/default.jpeg' %}" alt="Default Image"  width="150" height="150">
        {% endif %}
        <span class="song-name" >
          {{item.name}}
        </span>
        <span class="song-action">
          <a href="{% url 'add_to_playlist' item.id playlist_name %}" ><i class="bi bi-plus-circle-fill"></i></a>
        </span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
