body {
  background-color: #000;
  color: #fff;
}
.container h1 {
  margin-bottom: 35px;
}
.song-wrapper {
  margin: 0 10px 10px 0;
  position: relative;
  padding: 20px 10px 35px 10px;
  border-radius: 10px;
  background: #2e2a2a;
}
.song-wrapper span.song-action {
  position: absolute;
  right: 10px;
  bottom: 6px;
} 
.song-wrapper span.song-name {
  position: absolute;
  left: 10px;
  bottom: 6px;
} 
.audio-wrapper audio{
  position: absolute;
    bottom: 0px;
    left: 5%;
    width: 90%;
}
.playlist-list {
  margin-top: 25px;
}
.playlist-list li {
  color: #fff;
  background-color: #000;
  border-top: 1px solid #fff !important;
}
.playlist-list li:last-child {
  border-bottom: 1px solid #fff !important;
}
.heading-title {
  overflow: hidden;
}
.heading-actions {
  padding-top: 12px;
}
.upload_song_form div {
  margin-bottom: 15px;
}
header .nav li a {
  vertical-align: middle;
}
.playlist-library {
  overflow: hidden;
}
.playlist-edit {
  overflow: hidden;
}
.untrusted {
  background: #6f0000;
}
.untrusted i.bi-info-circle {
  color: #ff0000;
}


/* Bootstrap */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}